.worded_section{
    h3{
        padding: 2rem 0rem;
    }
    li{
        font-size: 14px;
    font-weight: 300;
    padding: 1rem 1rem;
    line-height: 30px;
    }
    b{
        color: #7A7FED;
    }
}