.project_card_section{
    padding: 2rem 9rem;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto ;
}
.project_card{
    // width: 439px;
    // height: 332px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 22px rgb(0 0 0 / 6%);
    margin: 2rem;
    transition: ease-in-out 500ms;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:85%;
    width: 89%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(255,255,255,0) 33%, rgba(0,0,0,0.9794511554621849) 96%);
    margin: 2rem 2rem;
    border-radius: 2rem;
  }
  .middle {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    margin: 6rem 0rem 0rem 0rem;
    left: 37%;
    font-weight: 200;
    text-align: left;
    line-height: 22px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    b{
        background-color: #7a7fed;
        padding: 7px 7px;
        border-radius: 2px;
        margin: 0rem -18px;
    }
    
  }
  .cont:hover .overlay {
    opacity: 1;
  }
  .cont{
    // width: 50%;
    position: relative;

  }
.tag{
    float: left;
    padding: 5px 5px 5px 5px;
    background: #7a7fed2e;
    margin: -2rem 0rem 1rem 3rem;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    color: #7a7fed;
}
.text_section_projects{
    padding: 2rem 11rem;
    h1{
        font-size: 4rem;
        font-weight: 800;
    }
    h2{
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1280px) {
    .mobileway{
        display: none;
    }

}
@media screen and (max-width: 600px) {

    .mobileway{
        display: block;
        color: white;
        float: right;
        background-color: #7a7fed;
        padding: 1rem;
        margin: -2rem 38px;
    }

    .project_card_section{
        // padding: 2rem 9rem;
        text-align: center;
        display: grid;
        grid-template-columns: auto;
        padding: 0rem;
        margin: 2rem 0rem 6rem 0rem;

        img{
            width: 100%;
            float: left;
        }
    }
    .text_section_projects {
        padding: 2rem 1rem;
    }
    .middle {
display: none;
        b{
            background-color: #7a7fed;
            padding: 7px 7px;
            border-radius: 2px;
            display: block;
            
        }
        
      }
      .overlay{
        display: none;
      }
      .project_card{
        margin: 0;
      }
}