// ---------- import abstract folder ---------
@import "./abstracts/variable.scss";

// ----------- import base folder ---------
@import "./base/base.scss";


// ----------- import pages Folder ----------

@import "./pages/about.scss";

@import "./pages/home";
@import "./pages/contact.scss";
@import "./pages/projects.scss";
@import "./pages/moreinfo.scss";



// eslint-disable-next-line 
@import "../../node_modules/bootstrap/scss/bootstrap";

// ----------- import Components ----------


@import "../components/Navbar/navbar.scss";
@import "../components/Footer/footer.scss";
@import"../components/Blob/blob.scss";


body{
    font-family: 'Poppins', sans-serif;
}
a{margin: 0rem 1rem;
font-size: 12.7805px;
line-height: 16px;
color: white;
font-weight: 300;
text-decoration: none;
}
@media screen and (max-width: 600px) {

    .texter{
        width: 300px !important;
        border: solid 1px #cbcbcb !important;
        box-shadow: none !important;
        font-weight: 500 !important;

    }
}

